// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';

body{
    background-color: goldenrod;
    .card-img-top{
        padding-top: 15px;
        height: 205px;
    }
    .card-body{
        height: 150px;
        font-style: oblique;
    }
    .yellow{
        margin-bottom: 15px;
    }
}

.posts-container {
    background-color: #fff;
    justify-content: center;
    flex-wrap: wrap;

    .table th, .table td {
            vertical-align: middle!important;
            padding:6px!important;
        img {
            width: 200px;
            height: 150px;
        }
    }
    .modal-title{
        color: #fff;
    }
    .close{
        color: #fff;
    }
}