// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';


.posts-container {
    background-color: #fff;

    .table th, .table td {
            vertical-align: middle!important;
        img {
            width: 150px;
        }
    }
    .modal-title{
        color: #fff;
    }
    .close{
        color: #fff;
    }
}